.summary_report_project h1 {
    text-align: center;
}

.summary_report_project {
    margin-right: 2em;
    margin-top: 5em;
}

.summary_report_field {
    margin-top: 1em;
}

.summary_report_field span:first-child {
    font-weight: bold;
    padding-right: 0.7em;
}

.summary_report_field span:first-child:after {
    content: ":";
}

.summary_report_table {
  border: 1px solid black;
  border-collapse: collapse;
}

.summary_report_table th {
    border: 1px solid black;
    padding: 0.6em;
}

.summary_report_table td {
    border: 1px solid black;
    padding: 0.6em;
}

.summary_report_sortable .headerSortDown {
    background-color: #333;
    color: #fff;
}

.summary_report_sortable .headerSortUp {
    background-color: #333;
    color: #fff;
}
